body {
  margin: 0;
  font-family: 'RobotoFISHY', sans-serif;
}
a {
  text-decoration: none;
}
p {
  font-size: 16px;
}
h1 {
  color: white;
  font-size: 5vw;
  text-transform: uppercase;
}
h2 {
  font-weight: 900;
}
.main {
  margin: 25px 10% 25px 10%;
  text-align: left;
}
.btns {
  display: block;
  position: absolute;
  right: 3vw;
  top: 30%;
}
.header,
.headerImg {
  position: relative;
  width: 100%;
}
.header {
  margin-top: 20px;
}
.headerText {
  position: absolute;
  width: 100%;
  top: 18%;
  text-align: center;
  opacity: 0.4;
}
.header img {
  width: 50%;
}
.headerImg>img {
  width: 100%;
}
.donateButton {
  height: 50px;
  line-height: 50px; /* same as height! */
  width: 20%;
  background: red;
  color: white;
  text-align: center;
  margin: 2%;
  display: inline-block;
  font-size: 30px;
  box-shadow: 2px 3px 5px #bbb;
  border-radius: 5px;
}
.cfPage,
.home,
.mission {
  background: #1C8BBA;
  color: white;
  height: 2em;
  padding: 1.5vw;
  text-transform: uppercase;
  box-shadow: 5px 5px 5px #bbb;
  display: inline;
  margin: 5px;
  cursor: pointer;
}
.footer {
  height: 50px;
  width: 100%;
  background: #fff;
}
.donate {
  margin: 0 10%;
}

@media only screen and (max-device-width: 480px) {
  /* For mobile phones: */
  .header img {
    width: 100%;
  }
  .btns {
    display: none;
  }
  .donateButton {
    width: 45%;
    height: 100px;
    font-size: 50px;
    line-height: 100px;
  }
}
.missionLink {
  color: #1C8BBA;
  font-weight: 900;
  cursor: pointer;
}
.h2mission,
.mainTextMission{
  display: none;
}
